<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Happy Notes</title>
</head>
<body>
    <div class="conatiner mt-5">
        <h1 class="header text-center">With Happy Notes,
            <br>Create Your Own TODO List!</h1>
        <div class="text-center mt-4">
            <a href="/login" class="btn btn-primary"> Login</a>
            <a href="/signup" class="btn btn-secondary"> Signup</a>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>
</html>